/* All Common Css Start  */
* {
  margin: 0;
  padding: 0;
  /* if full website has 1 font family  */
  /* font-family: serif; */
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
/* All Common Css End */

/* Header Part Start  */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav-link {
  font-family: "Open Sans", serif;
  color: #29313d;
  font-size: 18px;
  font-weight: 600;
}
.contact_btn {
  padding: 20px 38px;
  border-radius: 18px;
  background: #8454f5;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", serif;
}
/* Header Part End */

/* Banner Part Start  */
#banner_part {
  padding-top: 270px;
  padding-bottom: 250px;
  background: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner_text h1 {
  font-size: 64px;
  font-weight: 800;
  font-family: "Open Sans", serif;
  color: #1d354f;
  line-height: 60px;
}
.banner_text p {
  padding-top: 30px;
  padding-bottom: 65px;
  padding-right: 77px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Nunito", serif;
  color: #29313d;
  line-height: 200%;
}
/* Banner Part End */

/* Service Part Start  */
#service_part {
  padding: 115px 0;
}
.common_title h3 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
}
.service_item {
  padding: 30px 20px;
  transition: 0.4s;
}
.cmt {
  margin-top: 50px;
}
.service_item:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(242, 242, 242, 1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(242, 242, 242, 1);
  box-shadow: 0px 0px 20px 0px rgba(242, 242, 242, 1);
}
.service_item h3 {
  padding: 20px 0;
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
}
.service_item p {
  padding-bottom: 20px;
  font-size: 17px;
  font-weight: 400;
  font-family: "Nunito", serif;
  color: #29313d;
  line-height: 150%;
}
.service_item a {
  font-size: 16px;
  font-weight: 700;
  font-family: "Nunito", serif;
  color: #29313d;
}
/* Service Part End */

/* App Part Start  */
#app_part {
  padding-top: 100px;
  padding-bottom: 120px;
}
.img_main {
  position: relative;
}
.img_scnd img {
  height: 100%;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translate(-50%);
}
.app_righ h3 {
  padding-right: 98px;
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  line-height: 140%;
}
.app_righ p {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 261px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Nunito", serif;
  color: #29313d;
  line-height: 200%;
}
.app_item h3 {
  padding-top: 35px;
  padding-bottom: 18px;
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
}
.app_item p {
  padding-right: 26px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Nunito", serif;
  color: #29313d;
  line-height: 200%;
}
.app_item a {
  font-size: 16px;
  font-weight: 700;
  font-family: "Nunito", serif;
  color: #29313d;
  transition: 0.4s;
}
.app_item a:hover {
  color: #6c737b;
}
#app_part .mb {
  margin-bottom: 100px;
}
#app_part .mt {
  margin-top: 100px;
}
/* App Part End */

/* App Show Part Start  */
#app_show_part {
  padding-bottom: 110px;
}
.common_title p {
  padding-top: 40px;
  padding-bottom: 50px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Nunito", serif;
  color: #29313d;
}
.show_round {
  margin: 0 5px;
  margin-top: 45px;
  width: 12px;
  height: 12px;
  background: #cfcaf7;
  border-radius: 50%;
  display: inline-block;
}
.deep {
  background: #6a55ea;
}

/* App Show Part End */

/* Companies Part Start  */
#company_part {
  margin-bottom: 140px;
}
.company_title h3 {
  line-height: 120%;
}
.company_name_part {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.company_name {
  width: 210px;
  height: 110px;
  border-radius: 30px;
  background: #f3f7fd;
}
.company_name_content {
  padding-top: 39px;
  text-align: center;
}
/* Companies Part End */

/* Trial Part Start  */
#trial_part {
  padding-top: 130px;
  padding-bottom: 100px;
  background: #f8fdfe;
}
.trial_btn {
  margin-bottom: 85px;
  text-align: center;
}
.trial_item {
  padding: 30px 30px 20px 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(242, 242, 242, 1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(242, 242, 242, 1);
  box-shadow: 0px 0px 20px 0px rgba(242, 242, 242, 1);
}
.trial_item h4 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  text-align: center;
}
.rec {
  text-align: center;
  position: relative;
}
.rec::before {
  content: "";
  position: absolute;
  top: 58%;
  left: -8%;
  width: 181px;
  height: 1px;
  background: rgb(190, 190, 190);
}
.rec::after {
  content: "";
  position: absolute;
  top: 58%;
  right: -8%;
  width: 181px;
  height: 1px;
  background: rgb(190, 190, 190);
}
.tk {
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
.tk h4 {
  padding-top: 12px;
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
}
.trial_item a {
  margin-bottom: 30px;
  display: block;
  font-size: 18px;
  font-weight: 500;
  font-family: "Nunito", serif;
  color: #29313d;
}
/* Trial Part End */

/* Post Part Start  */
#post_part {
  padding-top: 130px;
  padding-bottom: 120px;
}
.post_left_content h4 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  line-height: 130%;
}
.post_left_content p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Nunito", serif;
  color: #29313d;
  line-height: 160%;
}
.post_left_content {
  margin-top: 80px;
}
.s_img {
  padding: 30px 0;
}
.s_img h5 {
  font-size: 88px;
  font-weight: 400;
  font-family: "Nunito", serif;
  color: #29313d;
}
.s_img h5 {
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
}
.left_content_down {
  margin-top: 30px;
}
.post_left_content_btn {
  margin-top: 30px;
}

/* post right content  */
.right_icons {
  align-items: center;
}
.right_icons h5 {
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
}
.right_icons i {
  margin-left: 17px;
  color: black;
  padding: 20px 20px;
  border-radius: 50%;
  background: #eeecfb;
}
.right_icons .one {
  margin-left: 0;
  color: white;
  background: #6a55ea;
}
.post_right_content_down {
  padding-top: 25px;
}
.post_right_content_down i {
}
.post_right_content_down span {
  font-size: 28px;
  font-weight: 400;
  font-family: "Poppins", serif;
  color: #29313d;
}
/* Post Part End */

/* Banner Part Start  */
/* Banner Part End */

/* Banner Part Start  */
/* Banner Part End */

/* Banner Part Start  */
/* Banner Part End */
